{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey, Im Linger</p>
        <br>
        <p>I'm currently studying web development with Python, Flask, HTML 5, Jinja, Bootstrap, Selenium and CSS 3.
          I have a degree in Modern Languages from Universidad Arturo Michelena .
          I also have a certification of marketing and sells from Universad José Antonio Páez.
          </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}